.homeContent-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.book-cover {
    max-width: 75%;
    height: auto;
    padding-top: 1rem;
    border-radius: 8px;
    /* animation: zoomIn 2s ease-in-out; */
    position: relative;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.pHome {
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.6;
    max-width: 75%;
    height: auto;
    text-align: left;
    color: rgba(101, 101, 68, 1);
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 8px;
    /* animation: fadeIn 2s ease-in-out; */
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 3px 6px rgba(0, 0, 0, 0.16),
        0 5px 12px rgba(0, 0, 0, 0.2);
    /* transform: rotateX(5deg) rotateY(-3deg);
    transform-origin: center; */
    cursor: default;
}

.headings {
    font-weight: 600;
}

.text-b {
    font-size: 0.7rem;
}

#last-p {
    margin-bottom: 0;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #555;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    /* animation: spin 1s linear infinite; */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .homeContent-wrapper {
        margin-top: 2rem;
    }

    .pHome {
        max-width: 600px;
        font-size: 1rem;
    }

    .book-cover {
        max-width: 600px;
        padding-top: 0;
    }

    .text-b {
        font-size: .9rem;
    }
}

@media screen and (min-width: 1025px) {
    .homeContent-wrapper {
        flex-direction: row;
    }

    .headings {
        font-weight: 500;
        font-size: 1.5rem;
    }

    .pHome {
        max-width: 550px;
        font-size: 1.25rem;
        margin: 0;
        padding-left: 0.75rem;
        border-right: 2mm ridge;
        animation: fadeIn 4s ease-in-out;
    }

    .book-cover {
        max-width: 555px;
        padding-top: 0;
        border-radius: 8px;
        box-shadow:
            -5px 0 12px rgba(0, 0, 0, 0.12),
            0 -5px 12px rgba(0, 0, 0, 0.16),
            0 5px 12px rgba(0, 0, 0, 0.2),
            inset 5px 0 2100px -3px rgba(0, 0, 0, 0.2);
        animation: fadeIn 4s ease-in-out;
        border-left: 2mm ridge;
    }

    .book-line {
        content: '';
        height: 540px;
        width: 5px;
        background: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.2) 0%,
                rgba(255, 255, 255, 0.8) 50%,
                rgba(0, 0, 0, 0.2) 100%);
        /* margin: 0; Center the spine in the container */
        box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2), -5px 0 5px rgba(0, 0, 0, 0.2);
        animation: fadeIn 4s ease-in-out;
    }

    .text-b {
        font-size: 1.2rem;
    }
}