.col {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

p {
    margin-left: 2rem;
    width: 75%;
    text-align: center;
    font-size: 1rem;
}

.row h1 {
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0 1rem 0;
}