.homeContent-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book-cover {
    max-width: 90%;
    height: auto;
    padding-top: 1rem;
    border-radius: 25% 0;
}

.pHome {
    font-size: 0.7rem;  
    font-weight: 400;  
    line-height: 1.8;
    margin: 0.5rem 0;
    max-width: 90%;
    height: auto;
    text-align: left;  
    color: rgba(101,101,68,255);
    background-color: rgba(101,101,68,0.2);
    padding: 1rem; 
    margin-top: 0;
    border-radius: 0;
}

.headings {
    font-weight: 600;
}

.text-b {
    font-size: .8rem;
}

#last-p {
    margin-bottom: 0;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
    .homeContent-wrapper {
        margin-top: 2rem;
    }

    .pHome {
        max-width: 50%;
        padding: 1rem;
        font-size: 1rem;
    }

    .book-cover {
        max-width: 50%;
    }
}

@media screen and (min-width: 1025px) {
    .homeContent-wrapper {
        margin-top: 2rem;
        flex-direction: row;
        justify-content: space-around;
    }

    .headings {
        font-weight: 500;
        font-size: 1.5rem;
    }

    .pHome {
        max-width: 50%;
        font-size: 1.25rem;
    }
    .book-cover {
        max-width: 30%;
    }

    .text-b {
        font-size: 1.75rem;
    }
}