.riddle-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: black;
    background-color: black;
    list-style: none;
}