.specific-riddle-difficulty {
    margin-right: 0;
    padding-right: 0;    
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: #888;
}

.specific-riddle-container {
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.specific-riddle-container .specific-riddle-image {
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.specific-riddle-container .specific-riddle-text {
    margin-top: 0;
    font-size: 16px;
    font-family: 'Cursive', 'Times New Roman', serif;
    line-height: 1.5;
    text-align: center;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.specific-riddle-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.answer-input-group {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.notification-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #FFEB3B;
    color: black;
    border-radius: 5px;
    border: 1px solid black;
}

.correct-style {
    background-color: green;
    color: #fff;  
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

.incorrect-style {
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

.hint-confirmation {
    margin-top: 10px;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #888;
}

.hint-btn {
    font-size: 12px;
    background-color: gray;
    border: none;
}

.hint-btn:hover {
    font-size: 12px;
    color: black;
    background-color: gold;
    border: none;
}

.hint-confirmation button {
    padding: 2px 10px;
    border-radius: 15px;
}

.give-up-btn {

}

.answer-display {

}

.btn-submit {
    background-color: green;
    border: none;
}

.btn-submit:hover {
    background-color: green;
    border: none;
}

.navigation-buttons {
    margin-top: 1rem;
}

.navigation-buttons .text-left {
    text-align: left;
}

.navigation-buttons .text-right {
    text-align: right;
}

.btn-nav {
    background-color: green;
    border: none;
}

.btn-nav:hover {
    background-color: green;
    border: none;
}

.riddle-paragraph {
    margin-bottom: 1em;
}

@media(min-width: 768px) {
    .specific-riddle-container {
        width: 80%;
    }

    .specific-riddle-container .specific-riddle-image {
        max-width: 100%;
        max-height: 500px;
    }

    .specific-riddle-container .specific-riddle-text {
        font-size: 18px;
    }

    .navigation-buttons .text-left {
        text-align: left;
    }
    
    .navigation-buttons .text-right {
        text-align: right;
    }

    .navigation-buttons button {
        margin-top: 4rem;
        padding: 5px 10px;
        font-size: 16px;
        /* margin: 0; */
    }
}