.id-diff {
    display: flex;
    justify-content: space-between;
}

.specific-riddle-difficulty {
    margin-right: 0;
    padding-right: 0;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: #888;
}

.specific-riddle-id {
    margin-left: 0;
    padding-left: 0;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #888;
    /* color: rgba(129, 62, 52, 1); */
}

.specific-riddle-container {
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    /* text-align: center; */
}

.specific-riddle-container .specific-riddle-image {
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

.specific-riddle-container .specific-riddle-text {
    margin-top: 0;
    font-size: 16px;
    /* font-family: 'Open Sans Condensed, Cursive', 'Times New Roman', serif; */
    line-height: 1.5;
    text-align: center;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.specific-riddle-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.answer-input-group {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.notification-container {
    background-color: rgba(252, 227, 74, 1);
    color: black;
    border-radius: 5px;
    /* margin: 0 0.25rem; */
}

.notification-container .correct-style {
    background-color: green;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}

.incorrect-style {
    background-color: red;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    margin: 0;
}

.hint-confirmation {
    margin-top: 10px;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #888;
}

.hint-btn {
    font-size: 12px;
    background-color: gray;
    border: none;
}

.hint-btn:hover {
    font-size: 12px;
    color: black;
    background-color: gold;
    border: none;
}

.hint-confirmation button {
    padding: 2px 10px;
    border-radius: 15px;
}

.give-up-btn {
    background-color: red;
}

.answer-display {
    color: rgba(62, 78, 66, 1);
    font-weight: 800;
}

.btn-submit {
    background-color: rgba(62, 78, 66, 1);
    border: none;
}

.btn-submit:hover {
    background-color: rgba(62, 78, 66, 0.75);
    border: none;
}

.btn-submit:disabled {
    color: #666;
    background-color: #ccc;
    cursor: not-allowed;
}

.navigation-buttons {
    margin-top: 1rem;
}

.navigation-buttons .text-left {
    text-align: left;
}

.navigation-buttons .text-right {
    text-align: right;
}

.btn-nav {
    background-color: rgba(62, 78, 66, 1);
    border: none;
}

.btn-nav:hover {
    background-color: rgba(62, 78, 66, 0.75);
    border: none;
}

.riddle-paragraph {
    margin-bottom: 1em;
}

@media(min-width: 768px) {
    .specific-riddle-container {
        width: 80%;
    }

    .specific-riddle-container .specific-riddle-image {
        max-width: 100%;
        max-height: 500px;
    }

    .specific-riddle-container .specific-riddle-text {
        font-size: 18px;
    }

    .navigation-buttons .text-left {
        text-align: left;
    }

    .navigation-buttons .text-right {
        text-align: right;
    }

    .navigation-buttons button {
        margin-top: 4rem;
        padding: 5px 10px;
        font-size: 16px;
        /* margin: 0; */
    }

    .specific-riddle-container .answer-form {
        margin: auto 0;
        text-align: center;
    }

    .notification-container {
        text-align: left;
        margin: 0 0.25rem;
    }
    .notification-container .correct-style {
        margin: 0;
    }
}