.footer-container {
    width: 100%;
    bottom: 0;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    display: flex;
  }

  .footer {
    align-items: center;
    line-height: 1.5rem;
  }

  .cr {
    font-size: 10px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255, 0.55);
  }

  @media (min-width: 768px) {
    .footer {
      bottom: 0;
      display: flex;
      justify-content: space-evenly;
    }

    .cr {
      font-size: 14px;
      letter-spacing: 1px;
    }
  }