.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  .footer-link {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  .logo {
    filter: invert(1) grayscale(1) brightness(2);
  }