.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 20px;
}

footer {
  flex-shrink: 0;
}