.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-buttons {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.purchase-link,
.review-link {
    background-color: rgba(62, 78, 66, 1);
    color: white;
    font-size: 0.75rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.16), 0 5px 12px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: 400;
    text-decoration: none;
}

.purchase-link:hover,
.review-link:hover {
    opacity: 0.8;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .cta-buttons {
        margin: 2rem;
        gap: 50px;
    }

    .purchase-link,
    .review-link {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1025px) {
    .cta-buttons {
        justify-content: space-around;
        margin: 2rem;
        gap: 350px;
    }

    .purchase-link,
    .review-link {
        font-size: 1.5rem;
    }
}